[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/preversewharf45/spdlog
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/preversewharf45/imgui/
[submodule "Engine/vendor/box2d"]
	path = Engine/vendor/box2d
	url = https://github.com/preversewharf45/Box2D
