[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/preversewharf45/spdlog
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/preversewharf45/imgui/
[submodule "Engine/vendor/freetype"]
	path = Engine/vendor/freetype
	url = https://github.com/preversewharf45/freetype2
[submodule "Engine/vendor/freetype-gl"]
	path = Engine/vendor/freetype-gl
	url = https://github.com/preversewharf45/freetype-gl
[submodule "Engine/vendor/box2d"]
	path = Engine/vendor/box2d
	url = https://github.com/preversewharf45/Box2D
